<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niu_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,82}</string>
                <key>spriteSourceSize</key>
                <string>{138,82}</string>
                <key>textureRect</key>
                <string>{{2,2},{138,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,82}</string>
                <key>spriteSourceSize</key>
                <string>{138,82}</string>
                <key>textureRect</key>
                <string>{{142,2},{138,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,82}</string>
                <key>spriteSourceSize</key>
                <string>{138,82}</string>
                <key>textureRect</key>
                <string>{{142,254},{138,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,82}</string>
                <key>spriteSourceSize</key>
                <string>{138,82}</string>
                <key>textureRect</key>
                <string>{{282,2},{138,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,82}</string>
                <key>spriteSourceSize</key>
                <string>{138,82}</string>
                <key>textureRect</key>
                <string>{{2,86},{138,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,82}</string>
                <key>spriteSourceSize</key>
                <string>{138,82}</string>
                <key>textureRect</key>
                <string>{{142,86},{138,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,82}</string>
                <key>spriteSourceSize</key>
                <string>{138,82}</string>
                <key>textureRect</key>
                <string>{{282,86},{138,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,82}</string>
                <key>spriteSourceSize</key>
                <string>{138,82}</string>
                <key>textureRect</key>
                <string>{{2,170},{138,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,82}</string>
                <key>spriteSourceSize</key>
                <string>{138,82}</string>
                <key>textureRect</key>
                <string>{{142,170},{138,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,82}</string>
                <key>spriteSourceSize</key>
                <string>{138,82}</string>
                <key>textureRect</key>
                <string>{{282,170},{138,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,82}</string>
                <key>spriteSourceSize</key>
                <string>{138,82}</string>
                <key>textureRect</key>
                <string>{{2,254},{138,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>niu_shu.png</string>
            <key>size</key>
            <string>{422,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41bc8610f416be610307e3a9e8128af9:bedf71a51a18f15573b0efbc3bb493b8:ceb053cc93ae59601a9ba48f8373c51c$</string>
            <key>textureFileName</key>
            <string>niu_shu.png</string>
        </dict>
    </dict>
</plist>
