<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/jiuxianlawang/loading/fk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,104}</string>
                <key>textureRect</key>
                <string>{{2,701},{110,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/jiuxianlawang/loading/ht.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,113}</string>
                <key>spriteSourceSize</key>
                <string>{114,113}</string>
                <key>textureRect</key>
                <string>{{253,464},{114,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/jiuxianlawang/loading/hx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,113}</string>
                <key>spriteSourceSize</key>
                <string>{116,113}</string>
                <key>textureRect</key>
                <string>{{253,346},{116,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/jiuxianlawang/loading/loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,52}</string>
                <key>spriteSourceSize</key>
                <string>{191,52}</string>
                <key>textureRect</key>
                <string>{{2,647},{191,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/jiuxianlawang/loading/logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,299}</string>
                <key>spriteSourceSize</key>
                <string>{249,299}</string>
                <key>textureRect</key>
                <string>{{2,346},{249,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/jiuxianlawang/loading/logoBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{342,342}</string>
                <key>textureRect</key>
                <string>{{2,2},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/jiuxianlawang/loading/mh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,121}</string>
                <key>spriteSourceSize</key>
                <string>{120,121}</string>
                <key>textureRect</key>
                <string>{{195,647},{120,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/jiuxianlawang/loading/point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,25}</string>
                <key>spriteSourceSize</key>
                <string>{32,25}</string>
                <key>textureRect</key>
                <string>{{114,701},{32,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{368,807}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83e85f5ccd0a30f5268649d9113ccee2:8a618466f65ade5c940a89965f8dae7b:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
