<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,396}</string>
                <key>spriteSourceSize</key>
                <string>{136,396}</string>
                <key>textureRect</key>
                <string>{{0,0},{136,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,61}</string>
                <key>spriteSourceSize</key>
                <string>{140,61}</string>
                <key>textureRect</key>
                <string>{{0,396},{140,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,55}</string>
                <key>spriteSourceSize</key>
                <string>{138,55}</string>
                <key>textureRect</key>
                <string>{{0,457},{138,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_qukuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,63}</string>
                <key>spriteSourceSize</key>
                <string>{136,63}</string>
                <key>textureRect</key>
                <string>{{0,512},{136,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_setl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,63}</string>
                <key>spriteSourceSize</key>
                <string>{140,63}</string>
                <key>textureRect</key>
                <string>{{0,575},{140,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{140,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d55bdbd7e9e62824bcbcc457de548ec0:07c19d7356a8eee3c6991cb36ebbc70c:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
