<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{386,132},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{2,262},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{98,262},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{194,262},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{98,2},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{194,2},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{290,2},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{386,2},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{2,132},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{98,132},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{194,132},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_0_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{290,132},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{290,262},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{194,522},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{290,522},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{386,522},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{2,652},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{386,262},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{2,392},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{98,392},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{194,392},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{290,392},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{386,392},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{2,522},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{98,522},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{98,652},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{2,912},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{98,912},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{194,912},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{290,912},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{194,652},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{290,652},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{386,652},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{2,782},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{98,782},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{194,782},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{290,782},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{386,782},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{386,912},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{290,1172},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{386,1172},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{2,1302},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{98,1302},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{2,1042},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{98,1042},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{194,1042},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{290,1042},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{386,1042},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{2,1172},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{98,1172},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{194,1172},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{194,1302},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,128}</string>
                <key>textureRect</key>
                <string>{{290,1302},{94,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{482,1432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd1f406045c20e8f274b012065912fc2:29be0e74c965fc2d191f509fb84ca79f:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
